@media screen and (max-width: 1680px) {

}

@media screen and (max-width: 1368px) {

}

@media screen and (max-width: 1024px) {

	header .nav{
		padding: 10px 80px;
	}

}

@media screen and (max-width: 992px) {

	.banner-content .wrapper{
		padding: 0 70px
	}

	.banner-content h1{
		font-size: 40px;
	}

	.banner-content h3{
		font-size: 18px;
		padding: 0 90px;
	}
}

@media screen and (max-width: 768px) {

	header .nav{
		height: 70px;
		padding: 15px 40px;
	}

	header.scroll .nav{
		height: 75px;
		padding: 10px 50px;
	}

	header.scroll .menu-icon{
		color: #424242;
		transition: .3s;
	}

	header.scroll .menu-icon:hover{
		color: #757575;
	}
	
	header .nav-col.dekstop{
		display: none;
	}

	header .nav-col.mobile{
		display: block;
	}

	header .image-logo img{
		height: 50px;
		margin-top: 3px;
	}

	#login-siswa .wrapper{
		width: 100%;
		padding: 0 20px;
	}

	.banner-content .wrapper{
		padding: 0;
	}

	.banner-content h1{
		font-size: 30px;
	}

	.banner-content h3{
		font-size: 16px;
		padding: 0 40px;
		margin-top: 12px;
		margin-bottom: 0;
	}

	.banner-content .banner-btn{
		margin-top: 42px;
	}

	.go-home i{
		font-size: 25px;
	}

}

@media screen and (max-width: 575px) {

}

@media screen and (max-width: 480px) {

	#login-siswa #main-banner{
		/*display: block;*/
	}

	header .nav, header.scroll .nav{
		height: 55px;
		padding: 15px 22px;
	}

	header .image-logo img{
		height: 40px;
		margin-top: 4px;
	}

	#login-siswa .wrapper{
		padding: 0 15px;
	}

	.login-item .title h3{
		font-size: 24px;
	}

	.banner-content h1{
		font-size: 26px;
	}

	.banner-content h3{
		font-size: 14px;
		line-height: 22px;
	}
}

@media screen and (max-width: 360px) {

}